@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
*{
    margin: 0;
    padding: 0;
  box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    
        

}
html,body{
    background-color:  #ededed !important;
    overflow-x:hidden  !important;
}
   

.bg-custom{
    background-color: #e40046;
    
}
.custom-btn{
    background-color: #e40046;
    color: white;
}
.custom-btn:hover{
    background-color: transparent;
    color:black;
}
.flex-nav{
  display: block;
}
.nav-list{
    display: flex;
    flex-direction: row;
}
.form-margin{

  display: table;
}
.form{
    display: table-cell;
    vertical-align: middle;
     width: 25%
}
.flex{
    display: flex;
    flex-direction: row;
}
.center {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
 
  }
.zoom{
    transition: transform .2s ease-in-out;
}
.zoom:hover{
    transform: scale(1.1); 
}
.pane-style{
    width: 100%;
    height: 14rem;
    background-color: #ffff;
}

.form-sizing{
    height: 30rem;
    width: 60rem;
    border-radius:10px ;
}
.form-sizing-signup{
    height: 43rem;
    width: 60rem;
    border-radius:10px ;
}
.btn-login{
    background-color: white;
    color: black;
}
.btn-login:hover{
    background-color:#e40046 ;
    color: white;
}
ul{
    list-style: none;
 
}
a{
    color: white;
    text-decoration: none;
}
textarea{
    resize: none !important;
}

